# Project 1: SAT & ACT Analysis

The first markdown cell in a notebook is a great place to provide an overview of your entire project. You will likely want to at least state your

## Problem Statement

Define the problem you are finding answers for from the data given.

## Executive Summary

If you want to, it's great to use relative links to direct your audience to various sections of a notebook. **HERE'S A DEMONSTRATION WITH THE CURRENT SECTION HEADERS**:

### Contents:
- [2017 Data Import & Cleaning](#Data-Import-and-Cleaning)
- [2018 Data Import and Cleaning](#2018-Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-data)
- [Descriptive and Inferential Statistics](#Descriptive-and-Inferential-Statistics)
- [Outside Research](#Outside-Research)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

**If you combine your problem statement, executive summary, data dictionary, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.** Don't forget to cite your data sources!

*All libraries used should be added here*

In [352]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style('whitegrid')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

## 2017 Data Import and Cleaning

#### 1. Read In SAT & ACT  Data

Read in the `sat_2017.csv` and `act_2017.csv` files and assign them to appropriately named pandas dataframes.

In [353]:
act_2017 = pd.read_csv('../data/act_2017.csv')
sat_2017 = pd.read_csv('../data/sat_2017.csv')

In [354]:
type(act_2017)

pandas.core.frame.DataFrame

In [355]:
type(sat_2017)

pandas.core.frame.DataFrame

#### 2. Display Data

Print the first 10 rows of each dataframe to your jupyter notebook

In [356]:
act_2017.head(10)

,State,Participation,English,Math,Reading,Science,Composite
0,National,60%,20.3,20.7,21.4,21.0,21.0
1,Alabama,100%,18.9,18.4,19.7,19.4,19.2
2,Alaska,65%,18.7,19.8,20.4,19.9,19.8
3,Arizona,62%,18.6,19.8,20.1,19.8,19.7
4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4
5,California,31%,22.5,22.7,23.1,22.2,22.8
6,Colorado,100%,20.1,20.3,21.2,20.9,20.8
7,Connecticut,31%,25.5,24.6,25.6,24.6,25.2
8,Delaware,18%,24.1,23.4,24.8,23.6,24.1
9,District of Columbia,32%,24.4,23.5,24.9,23.5,24.2

In [357]:
sat_2017.head(10)

,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,Alabama,5%,593,572,1165
1,Alaska,38%,547,533,1080
2,Arizona,30%,563,553,1116
3,Arkansas,3%,614,594,1208
4,California,53%,531,524,1055
5,Colorado,11%,606,595,1201
6,Connecticut,100%,530,512,1041
7,Delaware,100%,503,492,996
8,District of Columbia,100%,482,468,950
9,Florida,83%,520,497,1017

#### 3. Verbally Describe Data

Take your time looking through the data and thoroughly describe the data in the markdown cell below.

In [358]:
print(act_2017.shape)
print(sat_2017.shape)

(52, 7)
(51, 5)

In [359]:
print(act_2017.columns)
print(sat_2017.columns)

Index(['State', 'Participation', 'English', 'Math', 'Reading', 'Science',
       'Composite'],
      dtype='object')
Index(['State', 'Participation', 'Evidence-Based Reading and Writing', 'Math',
       'Total'],
      dtype='object')

Both ACT and SAT data set shows the particpation rate of high students per State across USA.
Their rows indicate the name of the States.

ACT data has 7 columns which is made up of State, Participation(rate), English, Math, Science, Reading and Composite(Average).
The Participation rate is shown in percentage, while English, Math, Science, Reading columns indicate the average score for each subject.
Composite column is the average score for English, Math, Science and Reading.

Meanwhile SAT data has 5 columns which is made up of State, Participation(rate), Evidence-Based Reading and Writing, Math and Total.
The Participation rate is shown in percentage, while Evidence-Based Reading and Writing and Math column indicate the average score for each subject.
Total column is made up of the sum of average score for Evidence-Based Reading and Writing and Math.

#### 4a. Does the data look complete?

The data does look complete, however I notice unlike the SAT data set ACT data set has an additional 
row for the national figure.

In [360]:
act_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   English        52 non-null     float64
 3   Math           52 non-null     float64
 4   Reading        52 non-null     float64
 5   Science        52 non-null     float64
 6   Composite      52 non-null     object
dtypes: float64(4), object(3)
memory usage: 3.0+ KB

In [361]:
sat_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     object
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

#### 4b. Are there any obvious issues with the observations?

**What is the minimum *possible* value for each test/subtest? What is the maximum *possible* value?**

Consider comparing any questionable values to the sources of your data:
- [SAT](https://blog.collegevine.com/here-are-the-average-sat-scores-by-state/)
- [ACT](https://blog.prepscholar.com/act-scores-by-state-averages-highs-and-lows)

ACT 
Participation which is calculated in percentage has a minimum possible value of 0 and maximum possible
value of 1 (100%).
For English, Math, Reading and Science the Overall Score Range is 1 (minimum) to 36 (maximum).
Composite which is the mean English, Math, Reading and Science the Overall Score Range is 1 (minimum) 
to 36 (maximum).

SAT
Participation which is calculated in percentage has a minimum possible value of 0 and maximum possible
value of 1 (100%).
For Evidence-Based Reading and Writing, Math the Overall score range is from 200 (minimum) 
to 800 (maximum).

In [362]:
#Min and Max result for English, Math, Reading and Science
#Composite and Particpation  is currently an object dtype  
#Will check once dtype is amended to float in Qn 6
print('Minimum Possible Value')
print(act_2017[['English', 'Math', 'Reading', 'Science']].min())
print('Maximum Possible Value')
print(act_2017[['English', 'Math', 'Reading', 'Science']].max())

Minimum Possible Value
English    16.3
Math       18.0
Reading    18.1
Science     2.3
dtype: float64
Maximum Possible Value
English    25.5
Math       25.3
Reading    26.0
Science    24.9
dtype: float64

In [363]:
# Min and Max result for Evidence-Based Reading and Writing, Math
# Particpation is currently an object dtype will check once dtype is amended to float in Qn 6
# Notice a score value (52) in the Math Column is below the range
print('Minimum Possible Value')
print(sat_2017[['Evidence-Based Reading and Writing', 'Math']].min())
print('Maximum Possible Value')
print(sat_2017[['Evidence-Based Reading and Writing', 'Math']].max())

Minimum Possible Value
Evidence-Based Reading and Writing    482
Math                                   52
dtype: int64
Maximum Possible Value
Evidence-Based Reading and Writing    644
Math                                  651
dtype: int64

#### 4c. Fix any errors you identified

**The data is available** so there's no need to guess or calculate anything. If you didn't find any errors, continue to the next step.

In [364]:
# Extract row showing the incorrect value
sat_2017[sat_2017['Math'] <= 200]

       State Participation  Evidence-Based Reading and Writing  Math  Total
20  Maryland           69%                                 536    52   1060

In [365]:
# Amend the Math data value for Maryland to 524
sat_2017.loc[20,'Math'] = 1060 - 536
sat_2017.iloc[18:21]

        State Participation  Evidence-Based Reading and Writing  Math  Total
18  Louisiana            4%                                 611   586   1198
19      Maine           95%                                 513   499   1012
20   Maryland           69%                                 536   524   1060

#### 5. What are your data types? 
Display the data types of each feature.

In [366]:
# Act 2017 Data Types
act_2017.dtypes

State             object
Participation     object
English          float64
Math             float64
Reading          float64
Science          float64
Composite         object
dtype: object

In [367]:
# SAT 2017 Data Types
sat_2017.dtypes

State                                 object
Participation                         object
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object

What did you learn?
- Do any of them seem odd?  
- Which ones are not as they should be?

ACT Participation and Composite dtype shows as object but should be float64
SAT Participation dtype shows as object should should be float64

#### 6. Fix Incorrect Data Types
Based on what you discovered above, use appropriate methods to re-type incorrectly typed data.
- Define a function that will allow you to convert participation rates to an appropriate numeric type. Use `map` or `apply` to change these columns in each dataframe.

In [368]:
act_2017.head(2)

      State Participation  English  Math  Reading  Science Composite
0  National           60%     20.3  20.7     21.4     21.0      21.0
1   Alabama          100%     18.9  18.4     19.7     19.4      19.2

In [369]:
sat_2017.head(2)

     State Participation  Evidence-Based Reading and Writing  Math  Total
0  Alabama            5%                                 593   572   1165
1   Alaska           38%                                 547   533   1080

In [370]:
#Remove '%' and replace with blank ('') using lambda function
act_2017['Participation'] = act_2017['Participation'].map(lambda state: state.replace('%',''))
sat_2017['Participation'] = sat_2017['Participation'].map(lambda state: state.replace('%',''))

In [371]:
#Change type to float and convert to decimal place by dividing the cells in Participation over 100
act_2017['Participation'] = act_2017['Participation'].astype(float) / 100 
sat_2017['Participation'] = sat_2017['Participation'].astype(float) / 100

In [372]:
# Min and Max result for Particpation rate in SAT 2017
print('Minimum Possible Value')
print(sat_2017[['Participation']].min())
print('Maximum Possible Value')
print(sat_2017[['Participation']].max())

Minimum Possible Value
Participation    0.02
dtype: float64
Maximum Possible Value
Participation    1.0
dtype: float64

- Fix any individual values preventing other columns from being the appropriate type.

In [373]:
# Using np.unique to identify whats causing the column to show as object type
np.unique(act_2017['Composite'])

array(['17.8', '18.6', '18.7', '19.0', '19.1', '19.2', '19.4', '19.5',
       '19.7', '19.8', '20.0', '20.2x', '20.3', '20.4', '20.5', '20.7',
       '20.8', '21.0', '21.4', '21.5', '21.7', '21.8', '21.9', '22.0',
       '22.3', '22.6', '22.8', '23.6', '23.7', '23.8', '23.9', '24.0',
       '24.1', '24.2', '24.3', '25.2', '25.4', '25.5'], dtype=object)

In [374]:
#Remove 'x' and replace with blank ('') using lambda function
act_2017['Composite'] = act_2017['Composite'].map(lambda comp: comp.replace('x',''))

In [375]:
#Change type to float
act_2017['Composite']  = act_2017['Composite'].astype(float)

In [376]:
# Min and Max result for Particpation rate and Composite in ACT 2017
print('Minimum Possible Value')
print(act_2017[['Participation','Composite']].min())
print('Maximum Possible Value')
print(act_2017[['Participation','Composite']].max())

Minimum Possible Value
Participation     0.08
Composite        17.80
dtype: float64
Maximum Possible Value
Participation     1.0
Composite        25.5
dtype: float64

- Finish your data modifications by making sure the columns are now typed appropriately.

In [377]:
# Checked column data type, ensure its float
print(act_2017['Participation'].dtypes)
print(act_2017['Composite'].dtypes)
print(sat_2017['Participation'].dtypes)

float64
float64
float64

- Display the data types again to confirm they are correct.

In [378]:
#Display data types for all column in dataframe for ACT 2017
print(act_2017.head(2))
act_2017.dtypes

      State  Participation  English  Math  Reading  Science  Composite
0  National            0.6     20.3  20.7     21.4     21.0       21.0
1   Alabama            1.0     18.9  18.4     19.7     19.4       19.2

State             object
Participation    float64
English          float64
Math             float64
Reading          float64
Science          float64
Composite        float64
dtype: object

In [379]:
#Display data types for all column in dataframe for SAT 2017
print(sat_2017.head(2))
sat_2017.dtypes

     State  Participation  Evidence-Based Reading and Writing  Math  Total
0  Alabama           0.05                                 593   572   1165
1   Alaska           0.38                                 547   533   1080

State                                  object
Participation                         float64
Evidence-Based Reading and Writing      int64
Math                                    int64
Total                                   int64
dtype: object

#### 7. Rename Columns
Change the names of the columns to more expressive names so that you can tell the difference the SAT columns and the ACT columns. Your solution should map all column names being changed at once (no repeated singular name-changes). **We will be combining these data with some of the data from 2018, and so you should name columns in an appropriate way**.

**Guidelines**:
- Column names should be all lowercase (you will thank yourself when you start pushing data to SQL later in the course)
- Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`.
- Column names should be unique and informative (the only feature that we actually share between dataframes is the state).

In [380]:
act_2017.head(0)

Empty DataFrame
Columns: [State, Participation, English, Math, Reading, Science, Composite]
Index: []

In [381]:
#Renaming the columns to lower case and adding act except for State using Dictionary  
#in order to differentiate between data sets columns when they are combined

new_columns_act = {
    'State': 'state',
    'Participation': 'act17_participation',
    'English': 'act17_english',
    'Math': 'act17_math',
    'Reading': 'act17_reading',
    'Science': 'act17_science',
    'Composite': 'act17_composite',   
}

In [382]:
act_2017.rename(columns = new_columns_act, inplace=True)
act_2017.head(2)

,state,act17_participation,act17_english,act17_math,act17_reading,act17_science,act17_composite
0,National,0.6,20.3,20.7,21.4,21.0,21.0
1,Alabama,1.0,18.9,18.4,19.7,19.4,19.2

In [383]:
sat_2017.head(0)

Empty DataFrame
Columns: [State, Participation, Evidence-Based Reading and Writing, Math, Total]
Index: []

In [384]:
#Renaming the columns to lower case and adding sat except for State using Dictionary  
#in order to differentiate between data sets when they are combined
new_columns_sat = {
    'State': 'state',
    'Participation': 'sat17_participation',
    'Evidence-Based Reading and Writing': 'sat17_read_write',
    'Math': 'sat17_math',
    'Total': 'sat17_total', 
}

In [385]:
sat_2017.rename(columns = new_columns_sat, inplace=True)
sat_2017.head(2)

     state  sat17_participation  sat17_read_write  sat17_math  sat17_total
0  Alabama                 0.05               593         572         1165
1   Alaska                 0.38               547         533         1080

#### 8. Create a data dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

|Feature|Type|Dataset|Description|
|---|---|---|---|
|column name|int/float/object|ACT/SAT|This is an example|

#### 9. Drop unnecessary rows

One of our dataframes contains an extra row. Identify and remove this from the dataframe.

In [386]:
# Used drop to remove the additional "National" row in ACT dataframe
act_2017.drop(index = 0, inplace = True)

In [387]:
act_2017.head()

,state,act17_participation,act17_english,act17_math,act17_reading,act17_science,act17_composite
1,Alabama,1.00,18.9,18.4,19.7,19.4,19.2
2,Alaska,0.65,18.7,19.8,20.4,19.9,19.8
3,Arizona,0.62,18.6,19.8,20.1,19.8,19.7
4,Arkansas,1.00,18.9,19.0,19.7,19.5,19.4
5,California,0.31,22.5,22.7,23.1,22.2,22.8

#### 10. Merge Dataframes

Join the 2017 ACT and SAT dataframes using the state in each dataframe as the key. Assign this to a new variable.

In [388]:
# Use merge to combine the ACT and SAT dataframes and assigned to new variable merged_2017
merged_2017 = pd.merge(act_2017, sat_2017, on='state', how='left')
merged_2017.head()

,state,act17_participation,act17_english,act17_math,act17_reading,act17_science,act17_composite,sat17_participation,sat17_read_write,sat17_math,sat17_total
0,Alabama,1.00,18.9,18.4,19.7,19.4,19.2,0.05,593,572,1165
1,Alaska,0.65,18.7,19.8,20.4,19.9,19.8,0.38,547,533,1080
2,Arizona,0.62,18.6,19.8,20.1,19.8,19.7,0.30,563,553,1116
3,Arkansas,1.00,18.9,19.0,19.7,19.5,19.4,0.03,614,594,1208
4,California,0.31,22.5,22.7,23.1,22.2,22.8,0.53,531,524,1055

#### 11. Save your cleaned, merged dataframe

Use a relative path to save out your data as `combined_2017.csv`.

In [389]:
#Used .to_csv to convert the merged 2017 file into csv format and saved in the path below as 
#combined_2017
merged_2017.to_csv('combined_2017.csv')
merged_2017.to_csv(r'C:\Users\Roshan\Desktop\Project\project_1\data\combined_2017.csv')

## 2018 Data Import and Cleaning

Links to the 2018 ACT and SAT data are provided in the README. These data live in PDFs, and so you'll get to enjoy practicing some *manual* data collection. Save these data as a CSV in your `data` directory, and import, explore, and clean these data in the same way you did above. **Make sure you comment on your steps so it is clear *why* you are doing each process**.

In [408]:
act_2018 = pd.read_csv('../data/act_2018_updated.csv')
sat_2018 = pd.read_csv('../data/sat_2018.csv')

In [409]:
print(type(act_2018))
print(type(sat_2018))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [410]:
#Print out the first 10 rows for ACT 2018 dataset to examine what it looks like
act_2018.head(10)

,State,Percentage of Students Tested,Average Composite Score,Average English Score,Average Math Score,Average Reading Score,Average Science Score
0,Alabama,100,19.1,18.9,18.3,19.6,19.0
1,Alaska,33,20.8,19.8,20.6,21.6,20.7
2,Arizona,66,19.2,18.2,19.4,19.5,19.2
3,Arkansas,100,19.4,19.1,18.9,19.7,19.4
4,California,27,22.7,22.5,22.5,23.0,22.1
5,Colorado,30,23.9,23.9,23.2,24.4,23.5
6,Connecticut,26,25.6,26.0,24.8,26.1,24.9
7,Delaware,17,23.2,23.7,23.1,24.5,23.4
8,District of Columbia,32,23.6,23.7,22.7,24.4,23.0
9,Florida,66,19.9,19.2,19.3,21.1,19.5

In [411]:
#Print out the first 10 rows for SAT 2018 dataset to examine what it looks like
sat_2018.head(10)

,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,Alabama,6%,595,571,1166
1,Alaska,43%,562,544,1106
2,Arizona,29%,577,572,1149
3,Arkansas,5%,592,576,1169
4,California,60%,540,536,1076
5,Colorado,100%,519,506,1025
6,Connecticut,100%,535,519,1053
7,Delaware,100%,505,492,998
8,District of Columbia,92%,497,480,977
9,Florida,56%,550,549,1099

In [412]:
# Look at the data types of the columns for both ACT and SAT 2018
# Check the non-null count to ensure no missing value
# And ensure no additional data by comparing RangeIndex of ACT and SAT 2018
act_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State                          51 non-null     object
 1   Percentage of Students Tested  51 non-null     int64
 2   Average Composite Score        51 non-null     float64
 3   Average English Score          51 non-null     float64
 4   Average Math Score             51 non-null     float64
 5   Average Reading Score          51 non-null     float64
 6   Average Science Score          51 non-null     float64
dtypes: float64(5), int64(1), object(1)
memory usage: 2.9+ KB

In [413]:
sat_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     object
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [414]:
#Change type to float and convert to decimal place by dividing the cells in Percentage Of Students Tested over 100
act_2018['Percentage of Students Tested'] = act_2018['Percentage of Students Tested'].astype(float)/100

In [429]:
# Use lambda function to replace '%' with '' (blank)
sat_2018['Participation'] = sat_2018['Participation'].map(lambda part: part.replace('%',''))

KeyError: 'Participation'

In [418]:
#Change type to float and convert to decimal place by dividing the cells in Participation over 100
sat_2018['Participation'] = sat_2018['Participation'].astype(float)/100

In [419]:
# Check Min and Max possible values ensuring their in the range for ACT 2018
print('Minimum Possible Value')
print(act_2018[['Percentage of Students Tested', 'Average Composite Score',
                'Average English Score', 'Average Math Score', 'Average Reading Score',	
                'Average Science Score']].min())
print('Maximum Possible Value')
print(act_2018[['Percentage of Students Tested', 'Average Composite Score',
                'Average English Score', 'Average Math Score', 'Average Reading Score',	
                'Average Science Score']].max())

Minimum Possible Value
Percentage of Students Tested     0.07
Average Composite Score          17.70
Average English Score            16.60
Average Math Score               17.80
Average Reading Score            18.00
Average Science Score            17.90
dtype: float64
Maximum Possible Value
Percentage of Students Tested     1.0
Average Composite Score          25.6
Average English Score            26.0
Average Math Score               25.2
Average Reading Score            26.1
Average Science Score            24.9
dtype: float64

In [420]:
# Check Min and Max possible values ensuring their in the range for SAT 2018
print('Minimum Possible Value')
print(sat_2018[['Participation', 'Evidence-Based Reading and Writing', 'Math']].min())
print('Maximum Possible Value')
print(sat_2018[['Participation', 'Evidence-Based Reading and Writing', 'Math']].max())

Minimum Possible Value
Participation                           0.0002
Evidence-Based Reading and Writing    480.0000
Math                                  480.0000
dtype: float64
Maximum Possible Value
Participation                           0.01
Evidence-Based Reading and Writing    643.00
Math                                  655.00
dtype: float64

In [421]:
#Display data types for all column in dataframe for ACT 2018
print(act_2018.head(2))
act_2018.dtypes

     State  Percentage of Students Tested  Average Composite Score  \
0  Alabama                           1.00                     19.1
1   Alaska                           0.33                     20.8

   Average English Score  Average Math Score  Average Reading Score  \
0                   18.9                18.3                   19.6
1                   19.8                20.6                   21.6

   Average Science Score
0                   19.0
1                   20.7

State                             object
Percentage of Students Tested    float64
Average Composite Score          float64
Average English Score            float64
Average Math Score               float64
Average Reading Score            float64
Average Science Score            float64
dtype: object

In [430]:
#Check data types for all column in dataframe for ACT 2018
print(sat_2018.head(2))
sat_2018.dtypes

     state  sat18_participation  sat18_read_write  sat18_math  sat18_total
0  Alabama               0.0006               595         571         1166
1   Alaska               0.0043               562         544         1106

state                   object
sat18_participation    float64
sat18_read_write         int64
sat18_math               int64
sat18_total              int64
dtype: object

In [423]:
# Shift Average Composite Score to the last column to standardize with ACT 2017 data set
act_2018 = act_2018[['State', 'Percentage of Students Tested', 'Average English Score',
                    'Average Math Score', 'Average Reading Score', 'Average Science Score',
                    'Average Composite Score']]

In [424]:
act_2018.head(1)

,State,Percentage of Students Tested,Average English Score,Average Math Score,Average Reading Score,Average Science Score,Average Composite Score
0,Alabama,1.0,18.9,18.3,19.6,19.0,19.1

In [425]:
new_columns_act18 = {
    'State': 'state',
    'Percentage of Students Tested': 'act18_participation',
    'Average English Score': 'act18_english',
    'Average Math Score': 'act18_math',
    'Average Reading Score': 'act18_reading',
    'Average Science Score': 'act18_science',
    'Average Composite Score': 'act18_composite',   
}

In [426]:
act_2018.rename(columns = new_columns_act18, inplace=True)
act_2018.head(2)

,state,act18_participation,act18_english,act18_math,act18_reading,act18_science,act18_composite
0,Alabama,1.00,18.9,18.3,19.6,19.0,19.1
1,Alaska,0.33,19.8,20.6,21.6,20.7,20.8

In [427]:
new_columns_sat18 = {
    'State': 'state',
    'Participation': 'sat18_participation',
    'Evidence-Based Reading and Writing': 'sat18_read_write',
    'Math': 'sat18_math',
    'Total': 'sat18_total', 
}

In [428]:
sat_2018.rename(columns = new_columns_sat18, inplace=True)
sat_2018.head(2)

     state  sat18_participation  sat18_read_write  sat18_math  sat18_total
0  Alabama               0.0006               595         571         1166
1   Alaska               0.0043               562         544         1106

#### Combine your 2017 and 2018 data into a single dataframe
Joining on state names should work, assuming you formatted all your state names identically. Make sure none of your columns (other than state) have identical names. Do yourself a favor and decide if you're encoding participation rates as floats or integers and standardize this across your datasets.

Save the contents of this merged dataframe as `final.csv`.

**Use this combined dataframe for the remainder of the project**.

In [338]:
merged_2018 = pd.merge(act_2018, sat_2018, on='state', how='left')
merged_2018.head()

,state,act18_participation,act18_english,act18_math,act18_reading,act18_science,act18_composite,sat18_participation,sat18_read_write,sat18_math,sat18_total
0,Alabama,1.00,18.9,18.3,19.6,19.0,19.1,0.06,595,571,1166
1,Alaska,0.33,19.8,20.6,21.6,20.7,20.8,0.43,562,544,1106
2,Arizona,0.66,18.2,19.4,19.5,19.2,19.2,0.29,577,572,1149
3,Arkansas,1.00,19.1,18.9,19.7,19.4,19.4,0.05,592,576,1169
4,California,0.27,22.5,22.5,23.0,22.1,22.7,0.60,540,536,1076

In [339]:
final_data = pd.merge(merged_2017, merged_2018, on='state', how='left')
final_data.head()

,state,act17_participation,act17_english,act17_math,act17_reading,act17_science,act17_composite,sat17_participation,sat17_read_write,sat17_math,...,act18_participation,act18_english,act18_math,act18_reading,act18_science,act18_composite,sat18_participation,sat18_read_write,sat18_math,sat18_total
0,Alabama,1.00,18.9,18.4,19.7,19.4,19.2,0.05,593,572,...,1.00,18.9,18.3,19.6,19.0,19.1,0.06,595,571,1166
1,Alaska,0.65,18.7,19.8,20.4,19.9,19.8,0.38,547,533,...,0.33,19.8,20.6,21.6,20.7,20.8,0.43,562,544,1106
2,Arizona,0.62,18.6,19.8,20.1,19.8,19.7,0.30,563,553,...,0.66,18.2,19.4,19.5,19.2,19.2,0.29,577,572,1149
3,Arkansas,1.00,18.9,19.0,19.7,19.5,19.4,0.03,614,594,...,1.00,19.1,18.9,19.7,19.4,19.4,0.05,592,576,1169
4,California,0.31,22.5,22.7,23.1,22.2,22.8,0.53,531,524,...,0.27,22.5,22.5,23.0,22.1,22.7,0.60,540,536,1076

In [340]:
final_data.to_csv('final.csv')
final_data.to_csv(r'C:\Users\Roshan\Desktop\Project\project_1\data\final.csv')

## Exploratory Data Analysis


### Summary Statistics
Transpose the output of pandas `describe` method to create a quick overview of each numeric feature.

In [341]:
final_data.describe().T

,count,mean,std,min,25%,50%,75%,max
act17_participation,51.0,0.652549,0.321408,0.08,0.310,0.69,1.000,1.0
act17_english,51.0,20.931373,2.353677,16.30,19.000,20.70,23.300,25.5
act17_math,51.0,21.182353,1.981989,18.00,19.400,20.90,23.100,25.3
act17_reading,51.0,22.013725,2.067271,18.10,20.450,21.80,24.150,26.0
act17_science,51.0,21.041176,3.182463,2.30,19.900,21.30,22.750,24.9
act17_composite,51.0,21.519608,2.020695,17.80,19.800,21.40,23.600,25.5
sat17_participation,51.0,0.398039,0.352766,0.02,0.040,0.38,0.660,1.0
sat17_read_write,51.0,569.117647,45.666901,482.00,533.500,559.00,613.000,644.0
sat17_math,51.0,556.882353,47.121395,468.00,523.500,548.00,599.000,651.0
sat17_total,51.0,1126.098039,92.494812,950.00,1055.500,1107.00,1212.000,1295.0
act18_participation,51.0,0.616471,0.340810,0.07,0.285,0.66,1.000,1.0
act18_english,51.0,20.988235,2.446356,16.60,19.100,20.20,23.700,26.0
act18_math,51.0,21.125490,2.035765,17.80,19.400,20.70,23.150,25.2
act18_reading,51.0,22.015686,2.167245,18.00,20.450,21.60,24.100,26.1
act18_science,51.0,21.345098,1.870114,17.90,19.850,21.10,23.050,24.9
act18_composite,51.0,21.486275,2.106278,17.70,19.950,21.30,23.550,25.6
sat18_participation,51.0,0.457451,0.373143,0.02,0.045,0.52,0.775,1.0
sat18_read_write,51.0,563.686275,47.502627,480.00,534.500,552.00,610.500,643.0
sat18_math,51.0,556.235294,47.772623,480.00,522.500,544.00,593.500,655.0
sat18_total,51.0,1120.019608,94.155083,977.00,1057.500,1098.00,1204.000,1298.0

#### Manually calculate standard deviation

$$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

- Write a function to calculate standard deviation using the formula above

In [342]:
import math

In [343]:
#Mean Function
def mean(x):
    return sum(x)*1.0/len(x) # Sum times 1.0 so it would have decimal place
#Standard Deviation Function
def stanDev(x):
    len_value = len(x) # Number of Data Points
    avg_value = mean(x)
    total = 0
    for i in range(len_value): 
        total += (x[i]-avg_value)**2 #Sum the square of the diff between the data point and mean
    sqr_root = total*1.0/len_value # Divide by number of data point to get avg square diff
    return math.sqrt(sqr_root) # Used math.sqrt to square root avg square diff

- Use a **dictionary comprehension** to apply your standard deviation function to each numeric column in the dataframe.  **No loops**  
- Assign the output to variable `sd` as a dictionary where: 
    - Each column name is now a key 
    - That standard deviation of the column is the value 
     
*Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     object
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [407]:
#Use a dictionary comprehension to apply your standard deviation function to each numeric column
#https://stackoverflow.com/questions/55048445/dictionary-comprehension-to-apply-a-function-to-dataframe-columns
sd = {i:stanDev(final_data[i]) for i in final_data.columns if final_data[i].dtype!=object}
sd

{'act17_participation': 0.3182417575123181,
 'act17_english': 2.3304876369363363,
 'act17_math': 1.9624620273436781,
 'act17_reading': 2.0469029314842646,
 'act17_science': 3.151107895464408,
 'act17_composite': 2.000786081581989,
 'sat17_participation': 0.3492907076664507,
 'sat17_read_write': 45.21697020437866,
 'sat17_math': 46.65713364485503,
 'sat17_total': 91.58351056778743,
 'act18_participation': 0.33745194881997503,
 'act18_english': 2.4222536143202795,
 'act18_math': 2.015707255555717,
 'act18_reading': 2.145891884510421,
 'act18_science': 1.8516885484833543,
 'act18_composite': 2.0855261815801147,
 'sat18_participation': 0.3694661922353942,
 'sat18_read_write': 47.03460978357609,
 'sat18_math': 47.30194550378352,
 'sat18_total': 93.22742384464433}

Do your manually calculated standard deviations match up with the output from pandas `describe`? What about numpy's `std` method?

Answer

#### Investigate trends in the data
Using sorting and/or masking (along with the `.head` method to not print our entire dataframe), consider the following questions:

- Which states have the highest and lowest participation rates for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Which states have the highest and lowest mean total/composite scores for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Do any states with 100% participation on a given test have a rate change year-to-year?
- Do any states show have >50% participation on *both* tests either year?

Based on what you've just observed, have you identified any states that you're especially interested in? **Make a note of these and state *why* you think they're interesting**.

**You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [206]:
final_data.head(0)

Empty DataFrame
Columns: [state, act17_participation, act17_english, act17_math, act17_reading, act17_science, act17_composite, sat17_participation, sat17_read_write, sat17_math, sat17_total, act18_participation, act18_english, act18_math, act18_reading, act18_science, act18_composite, sat18_participation, sat18_read_write, sat18_math, sat18_total]
Index: []

[0 rows x 21 columns]

In [214]:
#Sort by State with the Highest participation rate - SAT 2017
sat_high17 = final_data.loc[:,['state', 'sat17_participation']]
sat_high17.groupby('state').sum().sort_values('sat17_participation', ascending=False).head()

                      sat17_participation
state
District of Columbia                 1.00
Michigan                             1.00
Connecticut                          1.00
Delaware                             1.00
New Hampshire                        0.96

In [215]:
#Sort by State with the Lowest participation rate - SAT 2017
sat_low17 = final_data.loc[:,['state', 'sat17_participation']]
sat_low17.groupby('state').sum().sort_values('sat17_participation', ascending=True).head()

              sat17_participation
state
North Dakota                 0.02
Mississippi                  0.02
Iowa                         0.02
Missouri                     0.03
Utah                         0.03

In [233]:
#Sort by State with the Highest participation rate - SAT 2018
sat_high18 = final_data.loc[:,['state', 'sat18_participation']]
sat_high18.groupby('state').sum().sort_values('sat18_participation', ascending=False).head(6)

             sat18_participation
state
Colorado                    1.00
Connecticut                 1.00
Delaware                    1.00
Michigan                    1.00
Idaho                       1.00
Maine                       0.99

In [217]:
#Sort by State with the lowest participation rate - SAT 2018
sat_low18 = final_data.loc[:,['state', 'sat18_participation']]
sat_low18.groupby('state').sum().sort_values('sat18_participation', ascending=True).head()

              sat18_participation
state
North Dakota                 0.02
Wyoming                      0.03
South Dakota                 0.03
Nebraska                     0.03
Wisconsin                    0.03

In [235]:
#Sort by State with the Highest participation rate - ACT 2017
act_high17 = final_data.loc[:,['state', 'act17_participation']]
act_high17.groupby('state').sum().sort_values('act17_participation', ascending=False).head(10)

                act17_participation
state
Alabama                         1.0
Kentucky                        1.0
Wisconsin                       1.0
Utah                            1.0
Tennessee                       1.0
South Carolina                  1.0
Oklahoma                        1.0
North Carolina                  1.0
Nevada                          1.0
Montana                         1.0

In [221]:
#Sort by State with the Lowest participation rate - ACT 2017
act_low17 = final_data.loc[:,['state', 'act17_participation']]
act_low17.groupby('state').sum().sort_values('act17_participation', ascending=True).head()

               act17_participation
state
Maine                         0.08
New Hampshire                 0.18
Delaware                      0.18
Rhode Island                  0.21
Pennsylvania                  0.23

In [222]:
#Sort by State with the Highest participation rate - ACT 2018
act_high18 = final_data.loc[:,['state', 'act18_participation']]
act_high18.groupby('state').sum().sort_values('act18_participation', ascending=False).head()

           act18_participation
state
Alabama                    1.0
Kentucky                   1.0
Wisconsin                  1.0
Utah                       1.0
Tennessee                  1.0

In [223]:
#Sort by State with the Highest participation rate - ACT 2018
act_low18 = final_data.loc[:,['state', 'act18_participation']]
act_low18.groupby('state').sum().sort_values('act18_participation', ascending=True).head()

               act18_participation
state
Maine                         0.07
Rhode Island                  0.15
New Hampshire                 0.16
Delaware                      0.17
Pennsylvania                  0.20

In [224]:
#Sort by State with the Highest Total Score - SAT 2017
sat2_high17 = final_data.loc[:,['state', 'sat17_total']]
sat2_high17.groupby('state').sum().sort_values('sat17_total', ascending=False).head()

           sat17_total
state
Minnesota         1295
Wisconsin         1291
Iowa              1275
Missouri          1271
Kansas            1260

In [225]:
#Sort by State with the Lowest Total Score - SAT 2017
sat2_low17 = final_data.loc[:,['state', 'sat17_total']]
sat2_low17.groupby('state').sum().sort_values('sat17_total', ascending=True).head()

                      sat17_total
state
District of Columbia          950
Delaware                      996
Idaho                        1005
Michigan                     1005
Maine                        1012

In [226]:
#Sort by State with the Highest Total Score - SAT 2018
sat2_high18 = final_data.loc[:,['state', 'sat18_total']]
sat2_high18.groupby('state').sum().sort_values('sat18_total', ascending=False).head()

              sat18_total
state
Minnesota            1298
Wisconsin            1294
North Dakota         1283
Iowa                 1265
Kansas               1265

In [227]:
#Sort by State with the Lowest Total Score - SAT 2018
sat2_low18 = final_data.loc[:,['state', 'sat18_total']]
sat2_low18.groupby('state').sum().sort_values('sat18_total', ascending=True).head()

                      sat18_total
state
District of Columbia          977
Delaware                      998
West Virginia                 999
Idaho                        1001
Utah                         1010

In [228]:
#Sort by State with the Highest Composite Score - ACT 2017
act2_high17 = final_data.loc[:,['state', 'act17_composite']]
act2_high17.groupby('state').sum().sort_values('act17_composite', ascending=False).head()

                      act17_composite
state
New Hampshire                    25.5
Massachusetts                    25.4
Connecticut                      25.2
Maine                            24.3
District of Columbia             24.2

In [229]:
#Sort by State with the Lowest Composite Score - ACT 2017
act2_low17 = final_data.loc[:,['state', 'act17_composite']]
act2_low17.groupby('state').sum().sort_values('act17_composite', ascending=True).head()

                act17_composite
state
Nevada                     17.8
Mississippi                18.6
South Carolina             18.7
Hawaii                     19.0
North Carolina             19.1

In [230]:
#Sort by State with the Highest Composite Score - ACT 2018
act2_high18 = final_data.loc[:,['state', 'act18_composite']]
act2_high18.groupby('state').sum().sort_values('act18_composite', ascending=False).head()

               act18_composite
state
Connecticut               25.6
Massachusetts             25.5
New Hampshire             25.1
New York                  24.5
Michigan                  24.4

In [231]:
#Sort by State with the Lowest Composite Score - ACT 2018
act2_low18 = final_data.loc[:,['state', 'act18_composite']]
act2_low18.groupby('state').sum().sort_values('act18_composite', ascending=True).head()

                act18_composite
state
Nevada                     17.7
South Carolina             18.3
Mississippi                18.6
Hawaii                     18.9
Alabama                    19.1

In [ ]:
#Do any states with 100% participation on a given test have a rate change year-to-year?

In [ ]:
#Do any states show have >50% participation on both tests either year?

## Visualize the data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers.

Some recommendations on plotting:
- Plots have titles
- Plots have axis labels
- Plots have appropriate tick labels
- All text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Plots are interpreted to aid understanding

There is such a thing as too many plots, and there are a *lot* of bad plots. You might make some! (But hopefully not with the guided prompts below).

#### Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features

Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).

*example*:
```python
sns.heatmap(df.corr())
```

Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).

In [238]:
final_correlation = final_data.corr();
final_correlation

,act17_participation,act17_english,act17_math,act17_reading,act17_science,act17_composite,sat17_participation,sat17_read_write,sat17_math,sat17_total,act18_participation,act18_english,act18_math,act18_reading,act18_science,act18_composite,sat18_participation,sat18_read_write,sat18_math,sat18_total
act17_participation,1.000000,-0.843501,-0.861114,-0.866620,-0.304992,-0.858134,-0.841234,0.716153,0.507670,0.701477,0.919171,-0.763176,-0.782878,-0.789497,-0.763334,-0.775514,-0.756479,0.522593,0.555406,0.545179
act17_english,-0.843501,1.000000,0.967803,0.985999,0.403456,0.990856,0.686889,-0.461345,-0.345342,-0.441947,-0.796637,0.937173,0.918868,0.930897,0.922873,0.932535,0.679643,-0.347978,-0.365787,-0.361303
act17_math,-0.861114,0.967803,1.000000,0.979630,0.412318,0.990451,0.710697,-0.486126,-0.340906,-0.454116,-0.813410,0.910684,0.948795,0.924997,0.930087,0.933247,0.696294,-0.355133,-0.340094,-0.351847
act17_reading,-0.866620,0.985999,0.979630,1.000000,0.401097,0.995069,0.705352,-0.488441,-0.363099,-0.466558,-0.813021,0.916256,0.923622,0.937214,0.926420,0.929711,0.680380,-0.363354,-0.374075,-0.373195
act17_science,-0.304992,0.403456,0.412318,0.401097,1.000000,0.408656,0.248553,-0.135461,0.594714,-0.121783,-0.310923,0.440861,0.455448,0.443013,0.453344,0.447577,0.247464,-0.123253,-0.114013,-0.119985
act17_composite,-0.858134,0.990856,0.990451,0.995069,0.408656,1.000000,0.694748,-0.470382,-0.346335,-0.445020,-0.808497,0.927275,0.938748,0.937604,0.935847,0.939271,0.683164,-0.351602,-0.354639,-0.357463
sat17_participation,-0.841234,0.686889,0.710697,0.705352,0.248553,0.694748,1.000000,-0.874326,-0.566558,-0.867540,-0.792382,0.645332,0.649435,0.651892,0.611675,0.639323,0.874763,-0.666313,-0.686941,-0.684556
sat17_read_write,0.716153,-0.461345,-0.486126,-0.488441,-0.135461,-0.470382,-0.874326,1.000000,0.628405,0.996661,0.702481,-0.447026,-0.450128,-0.460779,-0.410872,-0.440915,-0.818925,0.814096,0.865909,0.849798
sat17_math,0.507670,-0.345342,-0.340906,-0.363099,0.594714,-0.346335,-0.566558,0.628405,1.000000,0.632648,0.470382,-0.274471,-0.261111,-0.285732,-0.247893,-0.269261,-0.528102,0.487915,0.537222,0.518742
sat17_total,0.701477,-0.441947,-0.454116,-0.466558,-0.121783,-0.445020,-0.867540,0.996661,0.632648,1.000000,0.687107,-0.426210,-0.418011,-0.438811,-0.383698,-0.415762,-0.806796,0.810068,0.875601,0.852727
act18_participation,0.919171,-0.796637,-0.813410,-0.813021,-0.310923,-0.808497,-0.792382,0.702481,0.470382,0.687107,1.000000,-0.850362,-0.856963,-0.869304,-0.843234,-0.858031,-0.868103,0.595309,0.635613,0.622634
act18_english,-0.763176,0.937173,0.910684,0.916256,0.440861,0.927275,0.645332,-0.447026,-0.274471,-0.426210,-0.850362,1.000000,0.972551,0.983390,0.979142,0.990671,0.769916,-0.416250,-0.429791,-0.428198
act18_math,-0.782878,0.918868,0.948795,0.923622,0.455448,0.938748,0.649435,-0.450128,-0.261111,-0.418011,-0.856963,0.972551,1.000000,0.979599,0.988105,0.990874,0.760668,-0.396155,-0.384726,-0.395208
act18_reading,-0.789497,0.930897,0.924997,0.937214,0.443013,0.937604,0.651892,-0.460779,-0.285732,-0.438811,-0.869304,0.983390,0.979599,1.000000,0.988227,0.992683,0.755345,-0.415435,-0.427119,-0.426412
act18_science,-0.763334,0.922873,0.930087,0.926420,0.453344,0.935847,0.611675,-0.410872,-0.247893,-0.383698,-0.843234,0.979142,0.988105,0.988227,1.000000,0.994377,0.730759,-0.379754,-0.379256,-0.384136
act18_composite,-0.775514,0.932535,0.933247,0.929711,0.447577,0.939271,0.639323,-0.440915,-0.269261,-0.415762,-0.858031,0.990671,0.990874,0.992683,0.994377,1.000000,0.756881,-0.400289,-0.404529,-0.407387
sat18_participation,-0.756479,0.679643,0.696294,0.680380,0.247464,0.683164,0.874763,-0.818925,-0.528102,-0.806796,-0.868103,0.769916,0.760668,0.755345,0.730759,0.756881,1.000000,-0.762055,-0.791338,-0.785926
sat18_read_write,0.522593,-0.347978,-0.355133,-0.363354,-0.123253,-0.351602,-0.666313,0.814096,0.487915,0.810068,0.595309,-0.416250,-0.396155,-0.415435,-0.379754,-0.400289,-0.762055,1.000000,0.954661,0.988560
sat18_math,0.555406,-0.365787,-0.340094,-0.374075,-0.114013,-0.354639,-0.686941,0.865909,0.537222,0.875601,0.635613,-0.429791,-0.384726,-0.427119,-0.379256,-0.404529,-0.791338,0.954661,1.000000,0.988622
sat18_total,0.545179,-0.361303,-0.351847,-0.373195,-0.119985,-0.357463,-0.684556,0.849798,0.518742,0.852727,0.622634,-0.428198,-0.395208,-0.426412,-0.384136,-0.407387,-0.785926,0.988560,0.988622,1.000000

#### Define a custom function to subplot histograms

We have data for two tests for two years. We only have composite (and not subtest scores) for the 2018 ACT. We should write a function that will take the names of 2+ columns and subplot histograms. While you can use pandas plotting or Seaborn here, matplotlib gives you greater control over all aspects of your plots.

[Helpful Link for Plotting Multiple Figures](https://matplotlib.org/users/pyplot_tutorial.html#working-with-multiple-figures-and-axes)

Here's some starter code:

In [ ]:
def subplot_histograms(dataframe, list_of_columns, list_of_titles, list_of_xlabels):
    nrows = int(np.ceil(len(list_of_columns)/2)) # Makes sure you have enough rows
    fig, ax = plt.subplots(nrows=nrows, ncols=2) # You'll want to specify your figsize
    ax = ax.ravel() # Ravel turns a matrix into a vector, which is easier to iterate
    for i, column in enumerate(list_of_columns): # Gives us an index value to get into all our lists
        ax[i].hist(dataframe[column]) # feel free to add more settings
        # Set titles, labels, etc here for each subplot

#### Plot and interpret histograms 
For each of the following:
- Participation rates for SAT & ACT
- Math scores for SAT & ACT
- Reading/verbal scores for SAT & ACT

In [ ]:
# Code

#### Plot and interpret scatter plots

For each of the following:
- SAT vs. ACT math scores for 2017
- SAT vs. ACT verbal/reading scores for 2017
- SAT vs. ACT total/composite scores for 2017
- Total scores for SAT 2017 vs. 2018
- Composite scores for ACT 2017 vs. 2018

Plot the two variables against each other using matplotlib or Seaborn

Your plots should show:
- Two clearly labeled axes
- A proper title
- Using colors and symbols that are clear and unmistakable

**Feel free to write a custom function, and subplot if you'd like.** Functions save both time and space.

In [ ]:
# Code

#### Plot and interpret boxplots

For each numeric variable in the dataframe create a boxplot using Seaborn. Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.

Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).

Each boxplot should:
- Only include variables of a similar scale
- Have clear labels for each variable
- Have appropriate titles and labels

In [ ]:
# Code

#### Feel free to do additional plots below
*(do research and choose your own chart types & variables)*

Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

#### (Optional): Using Tableau, create a choropleth map for each variable using a map of the US. 

Save this plot as an image file in an images directory, provide a relative path, and insert the image into notebook in markdown.

## Descriptive and Inferential Statistics

#### Summarizing Distributions

Above, we used pandas `describe` to provide quick summary statistics of our numeric columns. We also demonstrated many visual relationships.

As data scientists, having a complete understanding of data is imperative prior to modeling.

While we will continue to build our analytic tools, we know that measures of *central tendency*, *spread*, and *shape/skewness* provide a quick summary of distributions.

For each variable in your data, summarize the underlying distributions (in words & statistics)
 - Be thorough in your verbal description of these distributions.
 - Be sure to back up these summaries with statistics.

Answers:


#### Distributions in the data

In this dataset, each data represents a sample from a population.                        
For example, for ACT math test:
- Population: the test results of all the students who take this test, nation-wide.
- Population mean: is the national average of ACT math test (total scores/total no. of test takers) 
- Sample: the state means of ACT math test. We have 51 samples (51 states)

***According to CLT, we generally assuming that data we sample from a population will be normally distributed. Do we observe this trend?***

Answer:

Does This Assumption Hold for:
    - Math
    - Reading
    - Rates
Explain your answers for each distribution and how you think this will affect estimates made from these data.

Answer:

#### Estimate Limits of Data

Suppose we only seek to understand the relationship between SAT and ACT participation rates in 2017. 

##### Does it make sense to conduct statistical inference given these data specifically? 

Why or why not?

*(think about granularity, aggregation, the relationships between populations size & rates...consider the actually populations these data describe in answering this question)*

Answer:

##### Is it appropriate to compare *these* specific SAT and ACT math scores  - can we say students with higher SAT math score is better than those with lower ACT math score, or vice versa?

Why or why not?

Answer:

#### Statistical Evaluation of Distributions 

**If you feel it's appropriate**, using methods we discussed in class, run hypothesis tests to compare variables of interest in our dataset.

In [ ]:
# Code:

## Outside Research

Based upon your observations, choose **three** states that demonstrate interesting trends in their SAT and/or ACT participation rates. Spend some time doing outside research on state policies that might influence these rates, and summarize your findings below. **Feel free to go back and create new plots that highlight these states of interest**. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. (Make sure that you cite your sources -- check with you local instructor for citation preferences).

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Choose one state with a lower participation rate and provide a suggestion for how the College Board might increase participation amongst graduating seniors in this state. Are there additional data you desire that would better inform your investigations?